{% extends 'base_connexion.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté comme
				{{ app.user.username }},
				<a href="{{ path('user_index') }}">profil</a>
			</div>
		{% endif %}

		<div class="connexion" style="margin:8%">
			<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de Passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


			<button class=" btn btn-lg m-5 btn-primary" type=" submit">
				Connexion
			</button>
		</div>

	</form>
	<a href="{{ path('app_forgot_password_request') }}" style="margin-left:14%">Mot de passe oublier</a>

{% endblock %}
