{% extends 'base_home.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div class="sidenav-header">
		<div class="spinner-grow text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		{{ users|length }}
		Abonnés...
	</div>

	<div class=" position-fixed fixed-top filtre">

		<div class="titre">
			{{ form_start(form) }}


			{{ form_widget(form)}}

			<button class="btn btn-outline-success  search" type="submit">Search</button>

			{{ form_end(form) }}

		</div>
	</div>
</div>


<div class="container-xl lg md sm col-12">


	<div class="row">

		{% for user in users %}

			<div class="card">

				<div class="card-body ">
					<div class="card-heard NomPrenom">
						<div class="card-title">
							{{ user.prenom }}
							{{ user.nom }}
						</div>
					</div>

					<div
						class="card-footer">
						{# {% for app in user %} #}

						{%  if app.user %}
							{# <img class="w-100" src="{{ asset(user.photoProfil) }}" style="height:330px; margin-top:-1%; "/> #}

							{% if user.photoProfil is not null %}

								<img class="card-img-top w-100" src="{{ asset(user.photoProfil) }}"/>

							{% else %}
								<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="card-img-top w-100"/>
							{% endif %}
						{% endif %}

					</div>
					<hr class="hr"/>

					<div class="card-footer footer">
						<a href="{{ path ("send", {'id': user.id})}} " class="btn btn-sm btn-bd-light mb-2 mb-md-0 EnvoyerMessage">
							Envoyer un message
						</a>

						{%  if app.user %}
							<a href="{{ path ("home_profil", {'id': user.id})}} " class="btn btn-sm btn-bd-light mb-2 mb-md-0 profil">
								Profil
							</a>
						{% endif %}
					</div>
				</div>
			</div>

		{% endfor %}

	</div>
</div>{% endblock %}
