{% extends 'base_inscrire.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}

	<div class="container py-4 position-fixed fixed-top" style=" margin-left: 50px;">
		<nav>
			<main>


				{# <div class="p-7 m-5 baground-color-primary  "> #}
				<h2>
					<div class="register" style="margin-top:17%;">
						Créer votre compte Small World
					</div>
				</h2>

				<!-- Titre pour s'inscrire sur le site small world-->

				{{ form_start(registrationForm) }}

				<div class"container position-fixed" style="margin:15%; margin-top:5%;  ">

					<div class="row">

						<div class="col-8 col-md-6">


							{{ form_widget(registrationForm.nom) }}
						</div>


						<div class="col-8 col-md-6">

							{{ form_row(registrationForm.prenom ) }}

						</div>


						{{ form_row(registrationForm.email) }}

						<br>
						<div class="col-8 col-md-6">

							{{ form_row(registrationForm.plainPassword.first )  }}
						</div>

						<div class="col-8 col-md-6">

							{{ form_row(registrationForm.plainPassword.second ) }}
						</div>

						<div class="col-8 col-md-6">
							{{ form_row(registrationForm.date) }}
						</div>
						<div class="col-8 col-md-6">
							{{ form_row(registrationForm.sexe ) }}
						</div>

						{{ form_row(registrationForm.agreeTerms) }}

						<div class="INSCRIPTION" style="margin-left:-15%; ">
							<button type="submit" class="inscrire">S'inscrire</button>
						</div>

						{{ form_end(registrationForm) }}
					</div>

					<footer>
						<div class="message " style="margin-top:22px; ">

							<marquee>
								Il existe des tas de façons de rester en contact avec vos proches
																																																																																	Small world est un petit moyen sympa de garder contact avec
																																																																																	le monde; C'est super facile à utiliser
							</marquee>

						</div>
					</footer>
				</div>
			</div>
		</main>
	</nav>
{% endblock %}
