{% extends 'base_inscrire.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}

	<section class="container col-1 col-md-7 py-4 position-fixed fixed-top" style="margin-top:5%">
		<main>


			{# <div class="p-7 m-5 baground-color-primary  "> #}

			<h1 class="titre">

				INSCRIPTION

			</h1>
			<!-- Titre pour s'inscrire sur le site small world-->

			<div class="card">
				<div class="card-header">
					{{ form_start(registrationForm) }}

					<div class"container position-fixed">

						<div class="row">

							<div class="col-8 col-md-6">
								{{ form_widget(registrationForm.nom, { 'attr': {'class': 'nom'} }) }}
							</div>


							<div class="col-8 col-md-6">
								{{ form_row(registrationForm.prenom ) }}
							</div>


							{{ form_row(registrationForm.email) }}


							<div class="col-8 col-md-6">
								{{ form_row(registrationForm.plainPassword.first )  }}
							</div>

							<div class="col-8 col-md-6">
								{{ form_row(registrationForm.plainPassword.second ) }}
							</div>


							<div class="col-8 col-md-2 sexe">
								{{ form_row(registrationForm.sexe ) }}
							</div>


							<div class="col-8 col-md-4 date">
								{{ form_row(registrationForm.date) }}

							</div>

							<div class="agree">
								{{ form_row(registrationForm.agreeTerms) }}
							</div>


							<div class="INSCRIPTION">
								<button type="submit" class="inscrire">S'inscrire</button>

							</div>

							{{ form_end(registrationForm) }}
						</div>

						<footer>


							<div class="message " style="margin-top:22px; ">
								<marquee>
									<p>Il existe des tas de façons de rester en contact avec vos proches
																																																																																																																																																																																																																																																																																																																																																																																																																																																																	Small world est un petit moyen sympa de garder contact avec
																																																																																																																																																																																																																																																																																																																																																																																																																																																																	le monde; C'est super facile à utiliser
									</p>
								</marquee>
							</div>
							{# Message explicatif #}
							<div class="APROPOS">
								<a class="navbar-link" href="{{path ("apropo_index") }}">
									<div class="APROPOS">À propos</div>
								</a>
							</div>


							<div class="allo">
								<a class="mention" href="{{path("mention_index")}}">Mentions légales</a>
							</div>


							<div class="text" style="margin-left:29%">CGU</div>


						</footer>
					</div>
				</div>
			</div>
		</main>
	</section>
{% endblock %}
