{% extends 'base_inscrire.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}

	<div class="Inscription">
		<h1 class="Titre">
			INSCRIPTION
		</h1>
	</div>
	<!-- Titre pour s'inscrire sur le site small world-->

	<div class=" champs">


		<div class="container">

			{{ form_start(registrationForm) }}

			<div class="col-1 mb-3">
				{{ form_widget(registrationForm.nom, { 'attr': {'class': 'nom'} }) }}
			</div>


			<div class="col-1 mb-3">
				{{ form_row(registrationForm.prenom,  { 'attr': {'class': 'prenom'} } ) }}
			</div>

			<div class="col-1 mb-3">
				{{ form_row(registrationForm.email,  { 'attr': {'class': 'email'} } ) }}
			</div>

			<div class="col-1 mb-3">
				{{ form_row(registrationForm.plainPassword.first,  { 'attr': {'class': 'first'} } )  }}
			</div>

			<div class="col-1 mb-3">
				{{ form_row(registrationForm.plainPassword.second,{ 'attr': {'class': 'second'} }  ) }}
			</div>

			<div class="dates ">
				{{ form_row(registrationForm.date, { 'attr': {'class': 'date'} } ) }}
			</div>

			<div class="col-3 md-3">
				{{ form_row(registrationForm.sexe, { 'attr': {'class': 'sexe'} } ) }}
			</div>


			<div class="agree">
				{{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'agrees'} }) }}
			</div>


			<div class="col">
				<button class="inscrire" type="submit">S'inscrire</button>
			</div>

			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>
<footerclass="footer">
	<sectionclass="flex-around">
		<divclass="bloc-footer">
			<aclass="navbar-link"href="{{path("apropo_index")}}">
				<pclass="APROPOS">Àpropos</p>
			</a>
		</diV>
		<divclass="bloc-footer">
			<aclass="navbar-link"href="{{path("mention_index")}}">
				<pclass="mentions">Mentionslégales</p>
			</a>
		</div>
	</section>
</footer></div></div>{% endblock %}
