{% extends 'base_inscrire.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}

	<div class="Inscription">
		<h1 class="Titre">
			INSCRIPTION
		</h1>
	</div>
	<!-- Titre pour s'inscrire sur le site small world-->

	<div class=" champs">


		<div class="container">

			{{ form_start(registrationForm) }}

			<div class="col-12">
				{{ form_widget(registrationForm.nom, { 'attr': {'class': 'nom'} }) }}
			</div>


			<div class="col-12">
				{{ form_row(registrationForm.prenom,  { 'attr': {'class': 'prenom'} } ) }}
			</div>

			<div class="col-12">
				{{ form_row(registrationForm.email,  { 'attr': {'class': 'email'} } ) }}
			</div>

			<div class="col-12">
				{{ form_row(registrationForm.plainPassword.first,  { 'attr': {'class': 'first'} } )  }}
			</div>

			<div class="col-12">
				{{ form_row(registrationForm.plainPassword.second,{ 'attr': {'class': 'second'} }  ) }}
			</div>

			<div class="dates ">
				{{ form_row(registrationForm.date, { 'attr': {'class': 'date'} } ) }}
			</div>

			<div class="col-3">
				{{ form_row(registrationForm.sexe, { 'attr': {'class': 'sexe'} } ) }}
			</div>


			<div class="agree">
				{{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'agrees'} }) }}
			</div>


			<div class="col">
				<button class="inscrire" type="submit">S'inscrire</button>
			</div>

			{{ form_end(registrationForm) }}
		</div>
	</div>


	<footer class=" footer">
		<section class="flex-around">
			<div class="bloc-footer">
				<a class="navbar-link" href="{{path ("apropo_index") }}">
					<p class="APROPOS">À propos</p>
				</a>
			</diV>
			<div class="bloc-footer">
				<a class="navbar-link" href="{{path("mention_index")}}">
					<p class="mentions">Mentions légales
					</p>
				</a>
			</div>
		</section>
	</footer>
{% endblock %}
