{% extends 'base_admin_video.html.twig' %}

{% block title %}Videos index
{% endblock %}

{% block body %}


	<section class="container py-1">


		<div class="row">


			{% for video in videos | reverse %}
				<div class="col-2 col-md-7 ">

					<a href="{{ path('videos_show', {'id': video.id}) }}"></a>


					<div class="card">


						<div class="card-header">


							<h1 class="videos">{{ video.video | upper}}</h1>
							<p>Contenu</p>
							{{ video.contenu }}
							<p>
								{{ video.date ? video.date|date('d/m/Y  à  H:i:s') : '' }}</p>
						</div>

						<div class="card-footer">

							<video controls class="w-100" src="{{ asset(video.partager) }}"/>

						</div>
						<div class="card-footer">


							<a href="{{ path('videos_show', {'id' :video.id}) }}" class="btn btn-primary">Commenter</a>


							{% if app.user is same as video.video %}
								<a class="btn btn-info" href="{{ path('videos_edit', {'id' :video.id}) }}">Modifier</a>
							{% endif %}
						</div>
					</div>
				</div>
			</diV>

	{% else %}
		</div>

		<tr>
			<td colspan="5">Aucun enregistrement trouvé</td>
		</tr>

	{% endfor %}


	<ahref="{{path('videos_new')}}">Créerunnouveau</a>>>
	{#<a href="{{ path('videos_new') }}">Créer un nouveau</a>#}

{% endblock %}
