{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<h1>
		Titre</h1>
<div class="register-form" style="margin:45px; margin-left: 5px;">
	<div class="card">
		<div class="row">
        
			<div class="col-1">Date</div>
			<div class="col-1">Nom</div>
			<div class="col-1">Prenom</div>
			<div class="col-3">Contenu</div>
			<div class="col-1">Téléphone</div>
			<div class="col-1">Email</div>
			<div class="col-1">Adresse</div>

		</div>


		{% for calepin in calepins %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
			{{ calepin.id }}
			<div class="row">
				<div class="col-1" style="margin-heith">
					<div>{{ calepin.date ? calepin.date|date('Y-m-d H:i:s') : '' }}</div>
				</div>

                
				<div class="col-1">
					<div>{{ calepin.Nom }}</div>
				</div>
				<div class="col-1">
					<div>{{ calepin.Prenom }}</div>
				</div>
				<div class="col-3">
					<div>{{ calepin.contenu }}</div>
				</div>
				<div class="col-1">
					<div>{{ calepin.telephone }}</div>
				</div>
				<div class="col-1">
					<div>{{ calepin.Email }}</div>
				</div>
				<div class="col-2">
					<div>{{ calepin.adresse }}</div>

                 </div>
					<div class="col-2">
						<a href="{{ path('calepin_show', {'id': calepin.id}) }}">show</a>
						<a href="{{ path('calepin_edit', {'id': calepin.id}) }}">Editer</a>

						<a href="{{ path('calepin_new') }}">Créer un nouveau</a>
					</div>
</th>
</tr>
  </tbody>
</table>
					{% else %}

				{% endfor %}

			{% endblock %}
