{% extends 'base_img.html.twig' %}

{% block title %}Img index
{% endblock %}

{% block body %}
	<a href="{{ path('img_new') }}" class="btn btn-info position-fixed fixed-top ">
		Télécharger</a>


	<div class=" register-form ">


		{% for img in imgs | reverse %}

			{% if app.user is same as img.imga %}
				<div class="contenaire">

					<div class"row">
						<div class="col">
							<img class="w-100" src="{{ asset(img.vu) }}"/>
						</div>
					</div>
				</div>
				{# {{ include('img/_delete_form.html.twig') }} #}

				{# <a href="{{ path('img_show', {'id': img.id}) }}">show</a>
																																																																																				<a href="{{ path('img_edit', {'id': img.id}) }}">edit</a> #}

				{{ include('img/_delete_form.html.twig') }}

			{% endif %}


		{% else %}
			<td colspan="2">Aucun enregistrement trouvé</td>

		{% endfor %}


	{% endblock %}
