{% extends 'base.html.twig' %}

{% block title %}ListeAmiAjouter index
{% endblock %}

{% block body %}


<table class="table" style="margin-top:-70%; margin-left:10%; margin:4%">
	<h1>ListeAmiAjouter index</h1>
	<thead>
		<tr>
			<th>Id</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for liste_ami_ajouter in liste_ami_ajouters %}
			<tr>


				{% if app.user  %}
					{{ liste_ami_ajouter.id }}
					{% if user.photoProfil  is not null %}

						<img class="w-100" src="{{ asset(user.photoProfil) }}" style="height: 330px; margin-top:-1%; "/>

					{% else %}
						<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="div3" style=" height: 330px; width: 280px;"/>
					{% endif %}
				</td>
			</tr>
		</td>
	</tbody>
</tr></div><div class="card-body" style="margin:0.5%">
<a href="{{ path ("send", {'id': user.id})}} " class="btn btn-primary">
	Envoyer un message</a>

{%  if app.user %}
	<a href="{{ path ("home_profil", {'id': user.id})}} " class="btn" style="margin:0.5%; margin-top:10%">
		Profil</a>


	<a href="{{path("liste_ami_ajouter_index", {id: user.id})}}" class="btn btn-success" style="margin-left:65%; margin-top:-20%">
		<i class="bi bi-cart-plus"></i>
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewbox="0 0 16 16">
			<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
			<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
		</svg>

	</a>
{% endif %}{% endif %}<a href="{{ path('liste_ami_ajouter_show', {'id': liste_ami_ajouter.id}) }}">show</a><a href="{{ path('liste_ami_ajouter_edit', {'id': liste_ami_ajouter.id}) }}">edit</a>{% endfor %}<td colspan="2">no records found</td><a href="{{ path('liste_ami_ajouter_new') }}" style="margin-top:40%">Create new</a>{% endblock %}
