{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <h1>Agenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agenda.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agenda.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ agenda.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ agenda.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ agenda.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ agenda.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ agenda.ville }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ agenda.code }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ agenda.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ agenda.date ? agenda.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agenda_index') }}">back to list</a>

    <a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}
