{% extends 'base_apropos.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}


	<div class="titre ">


		{% for mention in mentions %}

			<h1 class="titre ">Mention légalses</h1>


			<div class="allo">{{ mention.article }}</div>

			<div class="allo">{{ mention.articl }}</div>

			<div class="allo">{{ mention.articles }}</div>
			<div>
				<a class="btn btn-success " href="{{ path('mention_show', {'id': mention.id}) }}">Afficher</a>
				<a class="btn btn-primary" href="{{ path('mention_edit', {'id': mention.id}) }}">Éditer</a>
			</td>

		{% else %}

			<td colspan="4">Aucun enregistrement trouvé</td>

		{% endfor %}
	</div>


	<a class="btn btn-info" href="{{ path('mention_new') }}">Créer un nouveau</a>

</div>{% endblock %}
