{% extends 'base.html.twig' %}

{% block title %}Agenda index
{% endblock %}

{% block body %}

	<div class="register " style=" margin-left:15%;">

		<h1>Agenda index</h1>


		{% for agenda in agendas %}

			            {# {{ dump(app.user) }}
												
						{{ dump(agenda.Bloc) }} #}

			{% if app.user is same as agenda.bloc %}

				<div
					class="register " style=" margin-left:15%;">
					{# {{ include('agenda/_delete_form.html.twig') }} #}

					<div class="card">
						<div class="row" style="font-size:14px; ">
							<div class="col-1">Nom</div>
							<div class="col-1">Prenom</div>
							<div class="col-1">Telephone</div>
							<div class="col-1">Adresse</div>
							<div class="col-1">Ville</div>
							<div class="col-1">Code_Postal</div>
							<div class="col-3">Text</div>
							<div class="col-1">Date</div>
							<div class="col-1">Email</div>
						</div>
					</div>


					<div class="row" style="">

						<div class="col-1">
							<div>{{ agenda.nom }}</div>
						</div>

						<div class="col-1">
							<div>{{ agenda.prenom }}</div>
						</div>


						<div class="col-1">
							<div>{{ agenda.telephone }}</div>
						</div>


						<div class="col-1">
							<div>{{ agenda.adresse }}</div>
						</div>

						<div class="col-1">
							<div>{{ agenda.ville }}</div>
						</div>


						<div class="col-1">
							<div>{{ agenda.code }}</div>
						</div>


						<div class="col-3">
							<div>{{ agenda.text }}</div>
						</div>


						<div class="col-1">
							<div>{{ agenda.date ? agenda.date|date('Y-m-d H:i:s') : '' }}</div>
						</div>

						<div class="col-1">
							<div>{{ agenda.email }}</div>
						</div>

						<div>
							<a href="{{ path('agenda_show', {'id': agenda.id}) }}">show</a>
							<a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>
						</div>
					</div>
				</div>
			{% endif %}


		{% else %}
			<td colspan="2">no records found</td>
		</div>

	{% endfor %}

	<a href="{{ path('agenda_new') }}" class="margin-top:30%">Create new</a>

{% endblock %}
