{% extends 'base_messagerie.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div class="register-form" style="margin-botton:105px;">

		<section class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="reception" style="margin-top:28%; margin-left:2%;   color:blue ">Messagerie</h1>


					<div class="tableau" style="font-size:22px;">
						<p class="email" style="color:#32cd32">Message de :
							{{ message.sender.email }}</p>
						<p>Le
							{{ message.createdAt|date }}</p>
						<div>{{ message.message }}</div>

						<a href="{{ path ("send", {'id': message.sender.id })}} " class="btn btn-primary mt-5">Répondre</a>

						<a href="{{ path("received") }}" class="btn btn-link mt-5">Retour à la boite de réception</a>

					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
