{% extends 'base.html.twig' %}

{% block title %}CommentaireVideo index{% endblock %}

{% block body %}
    <h1>CommentaireVideo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire_video in commentaire_videos %}
            <tr>
                <td>{{ commentaire_video.id }}</td>
                <td>{{ commentaire_video.contenu }}</td>
                <td>{{ commentaire_video.date ? commentaire_video.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commentaire_video_show', {'id': commentaire_video.id}) }}">show</a>
                    <a href="{{ path('commentaire_video_edit', {'id': commentaire_video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_video_new') }}">Create new</a>
{% endblock %}
