{% extends 'base.html.twig' %}

{% block title %}CommentaireVideo{% endblock %}

{% block body %}
    <h1>CommentaireVideo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire_video.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire_video.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commentaire_video.date ? commentaire_video.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commentaire_video_index') }}">back to list</a>

    <a href="{{ path('commentaire_video_edit', {'id': commentaire_video.id}) }}">edit</a>

    {{ include('commentaire_video/_delete_form.html.twig') }}
{% endblock %}
