{% extends 'base.html.twig' %}

{% block title %}VideoCommentaire index{% endblock %}

{% block body %}
    <h1>VideoCommentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_commentaire in video_commentaires %}
            <tr>
                <td>{{ video_commentaire.id }}</td>
                <td>{{ video_commentaire.contenu }}</td>
                <td>{{ video_commentaire.date ? video_commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('video_commentaire_show', {'id': video_commentaire.id}) }}">show</a>
                    <a href="{{ path('video_commentaire_edit', {'id': video_commentaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_commentaire_new') }}">Create new</a>
{% endblock %}
