{% extends 'base_admin_mention.html.twig' %}

{% block title %}Mention
{% endblock %}

{% block body %}

	<div class="allo fixed-top">
		<h1>Mention</h1>


		<th>Article</th>
		<div>{{ mention.article }}</div>
		<th>Articl</th>
		<div>{{ mention.articl }}</div>

		<th>Articles</th>
		<div>{{ mention.articles }}</div>


		<a class="btn btn-primary" href="{{ path('mention_index') }}">retour à la liste</a>
		<a class="btn btn-info" href="{{ path('mention_edit', {'id': mention.id}) }}">Éditer</a>
		{{ include('mention/_delete_form.html.twig') }}

	</div>
{% endblock %}
