{% extends 'base_admin_user.html.twig' %}

{% block title %}
	Modification du profil de
	{{app.user.prenom}}
	{{ app.user.nom}}

{% endblock %}

{% block body %}
	<div class=" position-fixed fixed-top register-form" style="margin-left:35%; margin-top:15%">

		<div class="grix xs2 container">


			<div class="grix xs4 containe">

				<div class="col-xs4">

					<h1 class="modification-profil" style="color:blue">
						Modifier profil
					</h1>


					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn blue">{{ button_label|default('Enregistrer') }}</button>
					{{ form_end(form) }}


				</div>


			</div>
		</div>


	{% endblock %}
