{% extends 'base_admin_user.html.twig' %}

{% block title %}

	Profil

{% endblock %}

{% block body %}
	<div class="register-form" style="margin-botto:05px; margin-top:13%; font-size:21px;">

		<div class="container">

			{% for message in app.flashes('message') %}

				<div class="col">
					<div class="p-3 my2 rounded-2 success">
						{{message}}
					</div>
				</div>
			{% endfor %}

			<div class="row">

				<h1 class="titre" style="margin-top:-8%">

					Bienvenue
					{{ app.user.prenom }}
					{{app.user.nom}}

				</h1>

				<div class="w-100"></div>
				<div class="col">Nom :</div>
				<div class="col">{{ app.user.nom}}</div>
				<div class="w-100"></div>

				<div class="col">
					Prénom :</div>
				<div class="col">{{ app.user.prenom}}</div>

				<div class="w-100"></div>

				<div class="col">Email:</div>
				<div class="col">{{ app.user.email}}</div>
				<div class="w-100"></div>

				<div class="col">Date:</div>
				<div class="col">{{ app.user.date |  date }}</div>
				<div class="w-100"></div>


				<div class="col">Sexe:</div>
				<div class="col">{{ app.user.sexe}}</div>
				<div class="w-100"></div>

				{# <div class="col"><img class="w-100" src="{{ asset(user.photoProfil) }}" style="height: 300px; margin-top:5%;  object-fit:contain !important; "/>
																<div class="col">{{ app.user.photo_profil}}</div>
																<div class="w-100"></div> #}
			</div>
		</div>


		{{ include('admin/admin_user/_delete_form.html.twig') }}</div>

	{# {{ include('user/photo_profil.html.twig') }} #}
</div>{#  ici je met le h1 pour pouvoir afficher mes information modifier, le nom et le prénom par le suite je fais un for #}{#  attends voir un cours sur les annonces #}
{# </div class="col-xs4">
																																    <h1> Annonces de {{ app.user.prenom }}  {{ app.user.nom }} ( {{ app.user.annonces|length }}) </h1>
																																        </div>
																																  
																																          
																																      {% for annonce in app.user.annonces %}
																																      <div class="col -xs1"> Titre : </div>
																									{% endfor %} #}{% endblock %}
