{% extends 'base_admin_user.html.twig' %}

{% block title %}

	Profil

{% endblock %}

{% block body %}

	<div class="   register-form " style="font-size:21px; margin-left:45%;  margin-top:-4%">

		<div class="container">

			{% for photoProfil in app.flashes('message') %}

				<div class="col">
					<div class="p-3 my2 rounded-2 success">
						{{message}}
					</div>
				</div>
			{% endfor %}


			<div class=" position-fixed fixed-top row col-1 col-md-6 py-4" style="margin-top:7%; margin-left:30%">

				<h1 class="titre" style="margin-top:10%; color:blue;  ">

					<marquee>
						Bonjour
						{{ app.user.prenom }}
						{{app.user.nom}}
					</marquee>


				</h1>


				{%  if app.user  %}{% endif %}

				<div class="col-3 col-md-7" style="margin-top:-5%; margin-left:-7%">

					{{form_start(form)}}

					<div class="col-12" style="margin-left:25%">
						{% if user.photoProfil is not null %}
							<img class="w-90" src="{{ asset(user.photoProfil) }}" style="height: 490px; margin-top:10%; margin-left:40%; "/>
						{% else %}
							<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="div3" style=" height: 250px; width: 280px;"/>
						{% endif %}
						<div class="col-12 " style="margin-top:2%; margin-left:10%">
							{{form_widget(form)}}
						</div>
					</div>

					<button type="submit" class="btn btn-primary " style="margin-left:18%; margin-top:-25%">
						enregistre
					</button>

					{{form_end(form)}}

				</div>

			</div>
		</div>

	</div>


{% endblock %}
