{% extends 'base_admin_user.html.twig' %}

{% block title %}

	Profil

{% endblock %}

{% block body %}
	<div class="register-form" style="margin-botto:05px; margin-top:13%; font-size:21px;">

		<div class="container">

			{% for message in app.flashes('message') %}

				<div class="col">
					<div class="p-3 my2 rounded-2 success">
						{{message}}
					</div>
				</div>
			{% endfor %}


			{# {% for user in users %} #}

			<div class="row">

				<h1 class="titre" style="margin-top:-6%; ">

					Bienvenue
					{{ app.user.prenom }}
					{{app.user.nom}}

				</h1>


				{% for photoProfil in user %}

					<div>
						{{form_start(form)}}
						{% if user.photoProfil is not null %}
							<img class="w-90" src="{{ asset(user.photoProfil) }}" style="height: 600px; margin-top:-1%; margin-left:10%; "/>
						{% else %}
							<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="div3" style=" height: 250px; width: 280px;"/>
						{% endif %}

						{{form_widget(form)}}

						<button type="submit" class="btn btn-primary mt-3">
							enregistre
						</button>
						{{form_end(form)}}

						<a href="{{ path('admin_photo_profil_new') }}">Create new</a>
					</div>

				{% else %}

					<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="div3" style=" height: 450px; width: 600px;"/>

				{% endfor %}

				<a href="{{ path('admin_photo_profil') }}">Télécharger une image</a>
			</div>
		</div>

	{% endblock %}
