{% extends 'base_apropos.html.twig' %}

{% block title %}Apropo index
{% endblock %}

{% block body %}

	<h1 class="titre fixed-top position-top ">Small-world</h1>


	{% for apropo in apropos %}

		<div class="allo">
			<video controls class="w-80" src="{{ asset(apropo.paragraphe) }}"/>
		</div>

		<div class="allo">
			<div>{{ apropo.text }}</div>
			<div>{{ apropo.biographie }}</div>
		</div>

		<div class="edit">
			<a class="btn btn-success" href="{{ path('apropo_show', {'id': apropo.id}) }}">Afficher</a>
			<a class="btn btn-primary" href="{{ path('apropo_edit', {'id': apropo.id}) }}">Éditer</a>
		</div>

	{% else %}

		<div colspan="5">Aucun enregistrement trouvé</div>

	{% endfor %}


	<a class="btn btn-info" href="{{ path('apropo_new') }}">
		Télécharger</a>
</div>{% endblock %}
