<nav
	class="navbar navbar-expand-xl  navbar-dark bg-primary fixed-top">

	{# Navbar et les Logo de la navbare #}
	<a href="#" class="navbar-brand">
		<i class=""></i>Small<b>-World</b>
	</a>
	{# Logo Small-world #}

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	{# boton toggler #}
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

		<div class="navbar-nav ml-auto">
			<a href="{{path ("photo_profil") }}" class="nav-item nav-link active">
				<i class="fa fa-user-o"></i>
				<span>Profil</span>
			</a>
			{# profil #}

			<a href="{{path ("home") }}" class="nav-item nav-link active">
				<i class="fa fa-user-plus"></i>
				<span>Contacts</span>
			</a>
			{# contact #}

			<a href="{{path("received")}}" class="nav-item nav-link active">
				<i class="fa fa-envelope"></i>
				<span>Messages</span>
			</a>
			{# Message #}


			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action active">
					<i class="fa fa-address-card"></i>
					Article
					<b class="caret"></b>
				</a>
				<p class="dropdown-menu">
					<a href="{{ path("article_new")}}" class="dropdown-item ">
						Publier un Article
					</a>
					<a href="{{ path("article_index")}}" class="dropdown-item">
						Liste des articles partager
					</a>
				</p>
			</div>
			{# Article #}


			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action active">
					<i class="fa fa-users"></i>
					Vidéo
					<b class="caret"></b>
				</a>
				<div class="dropdown-menu">
					<a href="{{ path("videos_new")}}" class="dropdown-item">
						Publier une vidéo
					</a>
					<a href="{{ path("videos_index")}}" class="dropdown-item">
						Liste des Vidéos partager
					</a>
				</div>
			</div>
			{# video #}


			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action active">
					<i class="fa fa-cog"></i>
					Paramètre
					<b class="caret"></b>
				</a>
				<div class="dropdown-menu">
					{% if app.user %}
						{% if app.user.roles[0] is same as "ROLE_ADMIN" %}
							<a href="{{ path('admin_home') }}" class="dropdown-item">
								<i class="fa fa-user-circle-o"></i>
								Administration
							</a>
						{% endif %}

						<a href="{{path("app_logout")}}" class="dropdown-item">
							<i class="material-icons">&#xE8AC;</i>
							Déconnexion</a>
						{% else %}
					{% endif %}
				</div>
				{# Paramètre #}
			</div>

			<a href="{{path('contact')}}" class="nav-item nav-link active">
				<i class="fa fa-phone"></i>
				<span>contactez-nous!</span>
			</a>
			{# contacter nous #}
		</div>
	</div>
</nav>
