<nav class="navbar navbar-expand-lg  position-fixed fixed-top" style=" height:108px;  margin-left:-1%; margin-top:-1%;  width: 105%; background-color: rgb(59, 89, 152); ">
	<div class="container-fluid">
		<a class="navbar-brand" style="margin-left:2%; color:#ffffff; font-size:30px; font-weight: bold;" href="#">Small-world</a>


		<button class="navbar-toggler" style="margin-left:57.5rem; margin-top:-7%" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-gear" fill="currentColor" fill="currentColor" style="color:#ffffff" viewbox="0 0 16 16">
					<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
					<path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
				</svg>
			</span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="navbarSupportedContent" style=" background-color: rgb(59, 89, 152); margin-left:-20%">
		<ul class="navbar-nav">

			<div class="navbar-menu ml-auto" style="mergin-top:-2.5%; ">

				<div class="logo_profil" style=" margin-left:-50%">
					<a class="navbar-link" href="{{path ("photo_profil") }}">
						<img src="https://img.icons8.com/ios/50/ffffff/name--v2.png " class="ImageProfil"/>
						<main class="profil" style="color:#ffffff">Profil</main>
					</a>
				</div>

				<!-- Button Profil code bootstrap -->
				<div class="logo_contact" stytle="background-color:#ffffff;">
					<a class="navbar-link" href="{{path ("home") }}" style="margin-left:2%">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-people-fill" fill="currentColor" style="color:#ffffff" viewbox="0 0 16 16">
							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							<path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
							<path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
						</svg>
						<main class="contact" style="color:#ffffff">Contacts</main>
					</a>
				</div>

				<!-- Button Profil code bootstrap -->

				<div class="LogoMessage">
					<a class="navbar-link" href="{{path("received")}}">
						<img src="https://img.icons8.com/ios/50/ffffff/mail.png" class="ImageMessage">
						<main class="message" style="color:#ffffff">Messagerie
						</main>
					</a>
				</div>

				<div class="dropdown liste_article">
					<a class=" navbar-link " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear" fill="currentColor" fill="currentColor" style="color:#ffffff" viewbox="0 0 16 16">
							<path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
						</svg>
						<main class="article" style="color:#ffffff">Article</main>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="navbar-link" href="{{ path("article_new")}}">
							<main class="publier">Publier un Article</main>
						</a>
						<a class="navbar-link" href="{{ path("article_index")}}">
							<main class="liste">Liste des Articles</main>
						</a>
					</div>
				</div>
				<!-- Button Paramètres code bootstrap -->


				<div class="dropdown liste_video">
					<a class=" navbar-link" id="dropdownMenuButton" data-toggle="dropdown" style="margin-left-50%" aria-haspopup="true" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-camera-reels-fill" fill="currentColor" style="color:#ffffff" viewbox="0 0 16 16">
							<path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
							<path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
						</svg>
						<main class="video" style="color:#ffffff">Vidéo</main>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="navbar-link" href="{{ path("videos_new")}}">
							<main class="liste">Publier une video</main>
						</a>
						<a class="navbar-link" href="{{ path("videos_index")}}">
							<main class="liste">Liste des videos</main>
						</a>
					</div>
				</div>
				<!-- Button Paramètres code bootstrap -->


				<div class="dropdown liste_parametre">
					<a class=" navbar-link " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear" fill="currentColor" fill="currentColor" style="color:#ffffff" viewbox="0 0 16 16">
							<path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
							<path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
						</svg>
						<main class="paramètres" style="color:#ffffff">Paramètres</main>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="parametreduconde" href="{{path('contact')}}">contactez-nous!</a>
						{% if app.user %}
							{% if app.user.roles[0] is same as "ROLE_ADMIN" %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin_home') }}">
										Administration</a>
								</li>
							{% endif %}

							<a class="navbar-link" href="{{path("app_logout")}}">
								<main class="deconnexion">Déconnexion</main>
							</a>
							{% else %}

						{% endif %}
					</div>
				</div>
				<!-- Button Paramètres code bootstrap -->


			</div>
		</div>
	</nav>
</header></section><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewbox="0 0 16 16">
<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
<path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/></svg>
