<title>
	{% block title %}Welcome!
	{% endblock %}
</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css"> {% block stylesheets %}{% endblock %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}"></head><body class="layout with-sidenav ">
<header>
	<nav class="navbar primary  fixed-top" style=" height: 85px" ;>
		<a href="{{ path("home") }}" class="navbar-brand">Small World</a>
		<div class="navbar-menu ml-auto">
			<a class="navbar-link" href="{{path ("user_index") }}">Profil</a>
			<a class="navbar-link" href="{{path ("home") }}">Mes contacts</a>

			<a class="navbar-link" href="{{path("received")}}">Messagerie</a>

			<a class="navbar-link" href="{{ path("article_new")}}">Publier un Article</a>

			<a class="navbar-link" href="{{ path("article_index")}}">Liste des Articles</a>

			<a class="navbar-link" href="{{path("app_logout")}}">Déconnexion</a>
		</div>
	</nav>
</header>

{% block body %}{% endblock %}</body></html>
