{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}

	<section class="container py-4" style="margin-top: -40%; margin-left: 50">


		<div class="row">

			{% for article in articles | reverse %}
				<div class="col-1 col-md-7">


					<a href="{{ path('article_show', {'id': article.id}) }}" style="text-decoration : none !important;  "></a>
					<div class="card">


						<div class="card-header">
							<h1>{{ article.titre | upper}}</h1>

						</div>

						<div class="card-body">

							<img class="w-100" src="{{ asset(article.image) }}" style="height: 570px;  object-fit:contain !important; "/>
						</div>


						<div class="card-footer">
							<p>Auteur :{{ article.auteur.nom}}


							</p>


							<p>
								{{ article.date ? article.date|date('Y-m-d') : '' }}</p>
							<a href="{{ path('article_show', {'id' :article.id}) }}" class="btn btn-primary" style="margin-left:60%;">Commenter</a>

							{% if app.user is same as article.auteur %}

								<a href="{{ path('article_edit', {'id' :article.id}) }}" class="btn btn-info" style="margin-top:-8.5%">Modifier</a>


							{% endif %}

						</div>


					</div>
				</a>
			</div>
		{% endfor %}


	</div>

</div>{% endblock %}
