{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

<div class="register-form" style="margin-top:-40%; margin-left:520px;  margin-right:520px" ;>
	<div class="contaire py-5">
		<div class="row">

			<div class="col-12 mt-1">

				<div class="card">
					<div class="card-header">
						<p>Titre</p>
						<h1 class="text-center">
							{{ article.titre }}
						</h1>
						<p>Contenu</p>
						{{ article.contenu }}
					</div>
				</div>
				<div class="col-12 mt-1">
					<div class="card">
						<p>
							<div class="card-body">

								<img class="w-100" src="{{ asset(article.image) }}" style="height: 300px;  object-fit:contain !important; "/>
							</div>

						</p>
					</div>
					<div class="card">
						<div class="col-12 mt-1">
							<div class="card-body">
								Date
								{{ article.date|date('d-m-Y') }}
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 mt-1">
					<div class="card">
						<div class="card-heard">
							<h5>
								Les Commentaires</h5>
							<div>

								<div>
									<div class="card-body">

										{% if app.user %}

											{{ form_start(form)}}

											{{ form_widget(form)}}

											<button class="btn tbn-primary mt3" type="submit">Enregister</button>

											{{ form_end(form)}}

										{% else %}

											<p>
												Vous devez être connecté pour ajouter un commentaire.</p>
											<hr/>
											<a class="btn btn-link" href="{{ path('app_login') }}">
												Se connecter</a>
											<hr/>
											<a class="btn btn-link" href="{{ path('app_register') }}">
												Creer un compter</a>


										{% endif %}

										<div class"card-body">

											{% if article.commentaires | length > 0 %}
												{% for commentaire in article.commentaires %}

													<pDate {% if app.user is same as commentaire.auteur %} style="font-form_widget:bold; color:red; " {% endif %} <P> auteur: {{ commentaire.auteur.nom}} </p> <p> : {{ commentaire.date | date('d-m-Y') }} </p> <p> contenu : {{ commentaire.contenu }} </p> <hr/> {% endfor %} {% else %} <p> il n y a pas encore de commentaires.</p> {% endif %} </div> </div> </div> </div> </div> </div> </div> {% endblock %}
