{% extends 'profil_base.html.twig' %}

{% block title %}
	Modification du profil de
	{{app.user.prenom}}
	{{ app.user.nom}}

{% endblock %}

{% block body %}
	<div class=" modifierinfoPersonnel">

		<div class="col-12">

			<h1 class="modification-profil">
				Modifier profil
			</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn blue">{{ button_label|default('Enregistrer') }}</button>
			{{ form_end(form) }}


		</div>

	</div>


{% endblock %}
