{% extends 'profil_base.html.twig' %}

{% block title %}

	Profil

{% endblock %}

{% block body %}


	<header class="Profil">
		<div class="Profil-user">
			<h1 class="titre ">
				Bonjour
				{{ app.user.prenom }}
				<p>
					Bienvenue dans votre espace</p>
			</h1>
			{# titre de la page qui est le nom de user #}

		</div>


		{%  if app.user  %}{% endif %}

		<div class="container">

			<div class="row">
				<div class="col-3">
					<div class="card-footer">
						{{form_start(form)}}


						{% if user.photoProfil is not null %}

							<img class="image" src="{{ asset(user.photoProfil) }} "/>

						{% else %}
							<img src=" https://img.icons8.com/ios/50/000000/name--v2.png " class="avatar"/>
						{% endif %}
						<div class="telecharger">
							{{form_widget(form)}}
						</div>
					</div>

					<button type="submit" class="btn btn-info ">
						enregistre
					</button>

					{{form_end(form)}}
				</div>
			</div>
		</div>

	</header>
	<footer class="button">
		<a href=" {{path ('user_index') }}" class="btn btn-success">Infos compte</a>
		<a href="{{ path('user_profil_modifier')}}" class=" btn btn-info">Modifier le profil</a>
		<a href="{{path ('user_pass_modifier')}}" class="btn btn-primary">Modifier le mot de passe</a>
		<a href="{{path ('img_index')}}" class=" btn btn-warning ">Album</a>

	</footer>
	<div class="animation-couleur">

		<marquee>
			Small-World un réseau social très facile à utiliser, avec small-world rester proche de vos amis.
											avec Small-world vos données sont protéger.
		</marquee>
	</div>
{% endblock %}
