{% extends 'user_base.html.twig' %}

{% block title %}

	Profil

{% endblock %}

{% block body %}

	<div class="   register-form " style=" margin-left:45%;  margin-top:12%">

		<div class="container">

			{% for photoProfil in app.flashes('message') %}

				<div class="col">
					<div class="p-3 my2 rounded-2 success">
						{{message}}
					</div>
				</div>
			{% endfor %}


			<h1 class="titre" style="margin-top:40%; font-weight: bold;  font-size:28px; margin-left:-50%  ">
				Bonjour
				{{ app.user.prenom }}
				<p>
					Bienvenue dans votre espace</p>
			</h1>
			<div class=" row col-1 col-md-6 py-4" style="margin-top:10%; margin-left:-30%">

				{%  if app.user  %}{% endif %}

				<div class="col-12 " style="margin-top:5%; margin-left: 1% ">

					{{form_start(form)}}


					<div class="card-body">
						{% if user.photoProfil is not null %}

							<img class="card-img-top" src="{{ asset(user.photoProfil) }}" style="height: 400px; margin-top:1%; margin-left:-35%;width: 280px "/>

						{% else %}
							<img src="https://img.icons8.com/ios/50/000000/name--v2.png " class="div3" style=" height: 250px; width: 280px;"/>
						{% endif %}
						<div class="a " style="margin-top:28%; margin-left:-30%;">
							{{form_widget(form)}}
						</div>
					</div>

					<button type="submit" class="btn btn-info " style="margin-left:20%; margin-top:12%">
						enregistre
					</button>

					{{form_end(form)}}

				</div>
				{# <div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																					<a class="btn btn-info" href="{{ path('home_profil') }}" style="margin-top:2.5%; margin-left:-25%">retour sur le profil</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				</div> #}

			</div>
		</div>

	</div>


{% endblock %}
